body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("./assets/bgimage.jpg");
  background-position: 50% 45%;
  background-size: clip;
}

#root {
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  body {
    overflow: hidden;
    height: 100vh;
    background-attachment: fixed;
    background-position: 20% 20%;
  }

  #root {
    height: 100vh;
  }

  .app-container {
    height: 100vh;
    overflow: hidden;
  }

  .main-content {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
